@if (password) {
  <div class="password-strength-container">
    <div class="strength-header">
      <span class="strength-label">Password strength</span>
      <span class="strength-value">{{ strengthLabel }}</span>
    </div>

    <mat-progress-bar
      mode="determinate"
      [value]="strength"
      [color]="strengthColor"
      class="strength-bar">
    </mat-progress-bar>

    <div class="criteria-list">
      @for (criterion of criteria; track $index) {
        <div class="criterion" [class.met]="criterion.met">
          <mat-icon class="criterion-icon">
            {{ criterion.met ? 'check_circle' : 'cancel' }}
          </mat-icon>
          <span class="criterion-text">{{ criterion.text }}</span>
        </div>
      }
    </div>
  </div>
}
