<!-- Selector de Tema - Desktop -->
<button mat-button class="theme-button hide-xs" [matMenuTriggerFor]="themeMenu">
  <div class="account-info">
    <span class="account-greeting">{{ languageService.t('profile.theme') }}</span>
    <span class="account-label">{{ themeService.getThemeName(languageService.language()) }}</span>
  </div>
  <span class="mat-mdc-button-touch-target"></span>
</button>

<mat-menu #themeMenu="matMenu">
  <button
    mat-menu-item
    (click)="setTheme('light')"
    [class.active]="themeService.theme() === 'light'">
    <mat-icon>light_mode</mat-icon>
    <span>{{ languageService.t('profile.themeLight') }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setTheme('dark')"
    [class.active]="themeService.theme() === 'dark'">
    <mat-icon>dark_mode</mat-icon>
    <span>{{ languageService.t('profile.themeDark') }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setTheme('auto')"
    [class.active]="themeService.theme() === 'auto'">
    <mat-icon>brightness_auto</mat-icon>
    <span>{{ languageService.t('profile.themeAuto') }}</span>
  </button>
</mat-menu>

<!-- Icono de tema - Móvil -->
<button mat-icon-button class="hide-gt-xs" [matMenuTriggerFor]="themeMobileMenu">
  <mat-icon>{{ themeService.getThemeIcon() }}</mat-icon>
  <span class="mat-mdc-button-touch-target"></span>
</button>

<mat-menu #themeMobileMenu="matMenu">
  <button
    mat-menu-item
    (click)="setTheme('light')"
    [class.active]="themeService.theme() === 'light'">
    <mat-icon>light_mode</mat-icon>
    <span>{{ languageService.t('profile.themeLight') }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setTheme('dark')"
    [class.active]="themeService.theme() === 'dark'">
    <mat-icon>dark_mode</mat-icon>
    <span>{{ languageService.t('profile.themeDark') }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setTheme('auto')"
    [class.active]="themeService.theme() === 'auto'">
    <mat-icon>brightness_auto</mat-icon>
    <span>{{ languageService.t('profile.themeAuto') }}</span>
  </button>
</mat-menu>
